 
 
 /* 1) <div id="container">
		    <a href="#" class="block-link">Click here</a>
	    </div>
		
		Now:-- these stuff together will give us boxes when seen in google chrome...
		
		

		#container{                // just to illustrate...min. and max.. height..and widths..and how it wraps text in that container on lower widths
			max-width:240px;
			min-width: 200px;
			max-height:240px;
			min-height: 200px;
			background: #777;
			overflow: auto;           // manage text within container and make it scrollable...to complete the stuff...
			                          // if there is some malfunction in min. width and max. height stuff.
	        // overflow-y: scroll , overflow: hidden, overflow: ....etc...7th video 2nd half...								  

		}

		#container{
		  width: 300px ;
		  height: 300px;
		  background: #777;
		  
		}

		.block-link{

		  display: block;
		  height: 30px;
		  width: 150px;
		  background: #999;
		}
 
    2)
 
 
 
 */